Repository UKCloud/AzureStack, pull requests merged in 2019-06, with the labels that each got.

#49 Fix where object and params
  Operators/PowerShell Modules/InstallModules.ps1
  Operators/PowerShell Modules/MarketplaceManagement/MarketplaceManagement.psm1
  Users/Extensions/Windows/ASRCSConfig.ps1
  Users/Extensions/Windows/AzureBackupConfig.ps1
  Users/PowerShell Modules/Azure Site Recovery/AzureSiteRecoveryFunctionality.psm1
  Users/PowerShell Modules/Azure Stack Kubernetes/AzureStackKubernetes.psm1
  Users/PowerShell Modules/InstallModules.ps1
  Users/PowerShell Modules/UKCloud for Microsoft Azure Invoice Estimate/AzureStackInvoiceEstimate.psm1
Labels: Language: PowerShell, Type: Improvement

#50 Update PR template
  .github/pull_request_template.md
Labels: Language: Documentation, Type: Improvement

#51 fix folder names so that modules can be loaded
  Users/PowerShell Modules/AzureSiteRecoveryFunctionality/AzureSiteRecoveryFunctionality.psd1
  Users/PowerShell Modules/AzureSiteRecoveryFunctionality/AzureSiteRecoveryFunctionality.psm1
  Users/PowerShell Modules/AzureSiteRecoveryFunctionality/README.md
  Users/PowerShell Modules/AzureStackInvoiceEstimate/AzureStackInvoiceEstimate.psd1
  Users/PowerShell Modules/AzureStackInvoiceEstimate/AzureStackInvoiceEstimate.psm1
  Users/PowerShell Modules/AzureStackInvoiceEstimate/ExampleSQLFile.csv
  Users/PowerShell Modules/AzureStackInvoiceEstimate/README.md
  Users/PowerShell Modules/AzureStackKubernetes/AzureStackKubernetes.psd1
  Users/PowerShell Modules/AzureStackKubernetes/AzureStackKubernetes.psm1
  Users/PowerShell Modules/AzureStackKubernetes/README.md
Labels: Language: PowerShell, Type: Bug

#52 fix exporting cmdlets etc
  Users/PowerShell Modules/AzureStackKubernetes/AzureStackKubernetes.psd1
Labels: Language: PowerShell, Type: Bug

#53 fix data inside the manifest files so that modules autoload
  Users/PowerShell Modules/AzureSiteRecoveryFunctionality/AzureSiteRecoveryFunctionality.psd1
  Users/PowerShell Modules/AzureStackInvoiceEstimate/AzureStackInvoiceEstimate.psd1
  Users/PowerShell Modules/AzureStackKubernetes/AzureStackKubernetes.psd1
Labels: Language: PowerShell, Type: Bug

#54 Fix kubernetes module link and README capitalisation
  Users/PowerShell Modules/AzureStackKubernetes/AzureStackKubernetes.psm1
  Users/PowerShell Modules/AzureStackKubernetes/README.md
Labels: Language: Documentation, Language: PowerShell, Minor Fix, Type: Bug

#55 Removed storage profile and fixed Get-AzsAks
  Users/PowerShell Modules/AzureStackKubernetes/AzureStackKubernetes.psm1
Labels: Language: PowerShell, Type: Improvement

#56 Improve Get-AzsAks output
  Users/PowerShell Modules/AzureStackKubernetes/AzureStackKubernetes.psm1
Labels: Language: PowerShell, Type: Improvement

#57 fix lb public IP issue when lb not deployed yet
  Users/PowerShell Modules/AzureStackKubernetes/AzureStackKubernetes.psm1
Labels: Language: PowerShell, Type: Bug
